<app-header></app-header>

<div class="container">
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>

<!--
* Setup Angular project:
  1- Install Angular/
  npm i -g angular/cli@version

  2- Create new project
  ng new [projectName]

  3- Change directory to the new generated angular project
  cd [projectName]

  4- Run the Angular Project & open it:
  ng serve -o

  ------------------------
  * Generation using CLI:
  - Generate Component using CLI
  ng g c path/componentName

  - Generate Service using CLI
  ng g s path/serviceName

  - Generate Directive using CLI
  - Generate Pipeline using CLI
  - Generate Module using CLI
  ng g m moduleName



---------------------
Dependency injection:
  force the class to invoke another class as a dependency..
Injecting or providing the dependencies on class into its constructor

we use the DI to:
 decuple (isolate) the component class from the dependency class.
 and to apply the Singleton design pattern (create on instance from the class and use it everywhere).

----------------------
 * Angular Project Structure:
  - App:
    _models: contains the interfaces
    core: contains the core components
    shared: contains the shared components
    components:
    pipes:
    services:


-------------------------
 * Adding Bootstrap to the project
  1. Install the Bootstrap Package:
 npm i -S bootstrap

  2. Adding the path of the package to the angular.json file
  "styles": [
  "./node_modules/bootstrap/dist/css/bootstrap.min.css",
  "src/styles.css"
  ],
  "scripts": [
  "./node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"
  ]

  3. Adding the path of the package to the style.css file
  @import "~bootstrap/dist/js/bootstrap.bundle.min.js"

-------------------------
Note:
  Anything we creating in angular need to be registered to the app.modules or its related module..


  & Data Binding:
 * 1- One way Data binding:
 ^  a) source ==> view (template)
    - String Interpolation.. src = {{imgURL}} & <h2>{{title}}</h2>
    - Property Binding: Binding to DOM property
     [src]= "imgURL"  & <h2 [textContent]='title'></h2>


    - Attribute Binding: Binding to HTML attributes
     [attr.colspan]= 'myColspan'

    - Class Binding.. [class.active]= "isActive" & [style.bgPink] = "bgColor"
    - Style Binding: Binding DOM style property
      [style.backgroundColor] = "isActive ? 'blue' : 'white'"


 ^ b) view ==> source
    - Event Binding  (click)="onSave($event)"

    event propagation mechanism..

 * 2- Two Way Data Binding
 ^ view ==> source ==> view
  - ngModel (banana in the box expression)
  - Property & Event Binding together.
  - @Input() ==>> Sending data form parent component to child one.
  @Input() used in the child component to receive value from parent component..

  [childProperty]= 'parentProperty'

  -@Output() =>> Event Raising (from Child to parent)
  EventEmitter(); & .emit();

  (ChildCustomEvent)="ParentRaisedEvent($event)"

Note:
  It used in the child component to raise event (Execute the parent method from child component).
  EventEmitter(); ==> used to create new Custom Event.
  .emit(); ==> used to emit (run) the Custom Event.

---------------------
  & Content Projection:
    - ng-content =>> Child Component
    - ng-container =>> Parent Component

  & Directive:
   classes used to extend the HTML Behavior
   classes that add new behavior or modify the existing behavior to the elements in the template
    ^ - Component Directive ==>> class with view (Template)
    ^ - Structural Directives ==>> control the structure of the layout
    (Whether the element rendered into the DOM or not)

      -- *ngFor
        let i = index, let o = odd; let e = even; let f = first; let l = last;
        trackBy: trackByFunc..

      -- *ngIf
      -- *ngSwitchCase  &  *ngSwitchDefault


      ^ - Attribute Directives ==>> control the appearance & Behavior of the element
      -- [ngStyle]
      -- [ngClass]
      -- [ngSwitch]

      -- [ngSwitch]  & *ngSwitchCase  &  *ngSwitchDefault

  --------------------------
  & Form Validation:
    ^ a) Template Driven Validation
      Done in the Component Template  (Template / View)..
    ng2-Validator library

    ^ b) Reactive Validation
      Done in the Component Class  (Source)

    AbstractControl class:
      - FormGroup
      - FormControl


  Form Data Flow:
  * template (view) ===>> class (source) ===>> Service ===> Interceptor ===>> Backend ===>> Database

  -----------------------------
  & Streams RxJS
  RxJS ==> Reactive Extensions for JS.


  Methods:
  - Interval
  - Subscribe
  - Take
  - Map
  -----------------------------
  & Shadow DOM & Encapsulation
    - Shadow DOM: allows us to apply Scoped Style to elements without bleeding out to the outer world..
    ViewEncapsulation ==> is an Enum in the Angular Specify the state of the Shadow DOM View.
    Shadow DOM ==> simply is Isolate the DOM Element style to Create scoped style..

    1. encapsulation: ViewEncapsulation.Native => Deprecated


    2. encapsulation: ViewEncapsulation.Emulated (default option) => angular apply the Shadow DOM (View Encapsulation/Isolate Component
    Style) and change the class name of the HTML element, so the style applied to specific component doesn't affect the rest of components in the app.


    3. encapsulation: ViewEncapsulation.None =>
    Angular does not apply any sort of view encapsulation meaning that any styles specified for the component are actually globally applied and can affect any HTML element present within the application. This mode is essentially the same as including the styles into the HTML itself.

    4. encapsulation: ViewEncapsulation.ShadowDom =>



  -----------------------------
    & Observable:
    it is a way in Angular to use the asynchronous code..
    An Observable is an object that over time and asynchronously emits multiple data values (data stream).
    Observers: it is an object observe the database and send notification for the subscribers once it is changed..
    to use observer you must subscribe on it..

    An Observable is just a function with a few special features, which uses an "observer" (an object with "next," "error" and "complete" methods) and returns an cancelation logic.


   -->
